{{extend 'layout.html'}}

{{block head}}
<title>Create Poll - Poll it Dude</title>
<script src="{{=URL('static', 'js/vue.js')}}"></script>

<script>

    var add_movie_url = "{{=URL('api', 'add_movie', user_signature=True)}}";
    var add_poll_url = "{{=URL('api', 'add_poll', user_signature=True)}}";
    var search_movies_url = "{{=URL('api', 'search_movies')}}";
    var get_cities_url = "{{=URL('api', 'get_cities')}}";
    var get_showtimes_url = "{{=URL('api', 'get_showtimes')}}";
    var get_cinemas_url = "{{=URL('api', 'get_cinemas')}}";

</script>
{{end}}

<div class="main-content">


    <div id="vue-div" class="display:none">
        

        <!-- Search movie box  -->
        <div class="container">
            <div class="jumbotron">
                <h3 class="text-center">Search For Any Movie</h3>

                <!-- search form  -->
                <form class ="form-horizontal"
                    action="#" v-on:submit.prevent="searchMovies">
                    <div class="row">
                        <div class="col-md-8 col-xs-12">
                            <div class="form-group">
                                <input
                                    class="form-control"
                                    name="Search movies..."
                                    type="text"
                                    v-model="form_title"
                                    placeholder="Search a movie..."
                                    required/>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <input
                                    class="form-control"
                                    name="City"
                                    type="text"
                                    v-model="form_city"
                                    placeholder="City" 
                                    required/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Search" />
                    </div>
                </form>
            </div>
        </div>

        <div class="container">
            <i v-if="searching" class="fa fa-circle-o-notch fa-spin" style="font-size:56px"></i>
        </div>

        <!-- Movie display scaffold -->
        <div v-if="!searching" class="card">

            <div v-for="movie in movies" class="card">
                <div class="card-body">

                    <h5 class="card-title">${movie.title}</h5>
                    <img v-bind:src="movie.poster_image_thumbnail" class="padded"/>

                    <button class="btn btn-default" 
                        type="button" 
                        data-toggle="collapse"
                        v-bind:data-target="'#collapseShowtimes'+movie.id"
                        aria-expanded="false">
                        Showtimes
                    </button>
                    <a action="#" class="btn btn-primary">More info</a>

                    <div class="collapse card" v-bind:id="'collapseShowtimes'+movie.id">
                        <h5 v-if="movie.showtimes.length != 0" class="card-title">Showtimes</h5>
                        <h5 v-else class="card-title">No showtimes in your location</h5>

                        <div v-for="cinema in cinemas" class="card">
                            <div class="card-header">Cinema: ${cinema.name}
                                <div class="card-body">

                                    <div class="card-columns"> 
                                        <div v-for="showtime in movie.showtimes" v-if="showtime.cinema_id == cinema.id" 
                                        class="card" style="width: 18rem">
                                            <div class="card-body">
                                                <p class="card-text">${showtime.start_at}</p>
                                                <a v-bind:href="showtime.booking_link">Booking Link</a>
                                                <button class="btn btn-default" 
                                                    v-on:click="addMovie(showtime.id)">
                                                    Add to Poll
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>


</div>
<script src="{{=URL('static', 'js/default_create_poll.js')}}"></script>

