{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var posts_url = "{{=URL('api', 'get_posts')}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
    var toggle_public_url = "{{=URL('api', 'toggle_public', user_signature=True)}}";
</script>
{{end}}

<div class="main-content">
    
    <!-- Table of all posts for debugging purposes -->
    <!-- {{=SQLTABLE(posts)}} -->

    <div id="vue-div" class="display:none">

        <!-- Used example found on old class webpage.  -->
        <!-- https://sites.google.com/a/ucsc.edu/luca/classes/cmps-183-hypermedia-and-the-web/cmps-183-fall-2016/homework-3 -->
        

        <!-- Add post button  -->
        <div>
            <button v-if="!is_adding_post" 
                class="btn btn-primary btn-lg btn-block"
                v-on:click="add_post_button()" 
                v-bind:class="{'disabled': !logged_in}">
                Add new post
            </button>
        </div>


        <!-- Form to add post -->
        <div v-if="is_adding_post" id="add-new-post">
            <div>
                <textarea v-model="form_content"
                    class="form-control string" 
                    id="no_table_content" 
                    placeholder="Content" type="text">                        
                </textarea>
                <span class="help-block"></span>
            </div>
            <div>
                <button v-on:click="add_post()" 
                    class="btn btn-primary btn-sm">
                    Post
                </button>
                <button v-if="is_adding_post" 
                    class="btn btn-warning btn-sm" 
                    v-on:click="add_post_button()">
                    Cancel
                </button>                
            </div>
        </div>


        <!-- Posts -->
        <div v-for="post in posts">
            <!-- Create the div for each post -->
            <div class="post text-left post-content">
                
                <!-- Edit form -->
                <div v-if="editing && edit_id==post.id">
                    <!-- Content that is being edited for a post -->
                    <div class="form-group" id="no_table_content__row">
                        <textarea v-model="edit_content = post.content"
                            class="form-control string" 
                            id="no_table_content" 
                            placeholder="Content" type="text">
                        </textarea>
                        <span class="help-block"></span>
                    </div>

                    <!-- The post and cancel button for edit form -->
                    <div class="form-group row edit-buttons" id="submit_record__row">
                        <div class="col-md-6">
                            <button v-if="editing" 
                                class="btn btn-primary btn-sm post-edit-button" 
                                v-on:click="edit_post_submit()" type="submit">
                                Post
                            </button>
                            <button v-if="editing" 
                                class="btn btn-warning btn-sm cancel-button" 
                                v-on:click="cancel_edit()" type="button">
                                Cancel
                            </button>                            
                        </div>
                    </div>
                </div>


                <!-- Post content  -->
                <div v-if="!editing || (editing && edit_id != post.id)">
                    <p>${post.content}</p>
                </div>
                <!-- author and date info -->
                <small>
                    Submitted at: ${post.created_on} by ${post.name}
                    <br>
                    Last updated: ${post.updated_on}
                </small>


                <!-- if it is your post show the editing icons -->
                {{if auth.user:}}
                    <div class="button-bar" v-if="post.user_email == '{{=auth.user.email}}'">
                        <button class="btn btn-default btn-sm" 
                            v-on:click="edit_post(post.id)">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-default btn-sm" 
                            v-on:click="delete_post(post.id)">
                            <i class="fa fa-trash-o"></i>
                        </button>
                        <button v-if="!post.is_public"
                                class="btn btn-default btn-sm" 
                                v-on:click="toggle_public(post.id)">
                                <i class="fa fa-user"></i>
                        </button>
                        <button v-if="post.is_public"
                                class="btn btn-default btn-sm" 
                                v-on:click="toggle_public(post.id)">
                                <i class="fa fa-users"></i>
                        </button>                        
                    </div>
                {{pass}}
            </div>
        </div>


        <div v-if="has_more" class="show_more">
            <button class="btn btn-primary btn-sm" v-on:click="get_more()">Load more</button>
        </div>
    </div>


</div>





<script src="{{=URL('static', 'js/default_index.js')}}"></script>
