{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var polls_url = "{{=URL('api', 'get_polls')}}";
    var add_poll_url = "{{=URL('api', 'add_poll', user_signature=True)}}";
    var edit_poll_url = "{{=URL('api', 'edit_poll', user_signature=True)}}";
    var del_poll_url = "{{=URL('api', 'del_poll', user_signature=True)}}";
    var toggle_public_url = "{{=URL('api', 'toggle_public', user_signature=True)}}";

</script>
{{end}}


<div class="main-content">


    {{if auth.user is None:}}
    <div class="mx-auto text-center">
        <h1>Welcome!</h1>
        <p>
            Login to create a poll and go to the movies!
        </p>
        <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAJ1ZvhsklFbRlgcdg31NPxgvUysfXqxas
            &q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe>
        <a href="{{=URL('default', 'user')}}" class="btn btn-primary">Login</a>
    </div>
    {{else:}}

    <div id="vue-div" class="display:none">

        <a v-bind:href="uberURL">Book an Uber</a>

        <!-- Add poll button  -->
        <a href="{{=URL('default', 'search_movies')}}"
            class="btn btn-primary btn-lg btn-block"
            v-bind:class="{'disabled': !logged_in}">
            Add new poll
        </a>


        <!-- polls -->
        <!-- create the div for each poll -->
        <div v-for="poll in polls" class="poll text-left">
            <!-- poll content  -->
            <div class="movie row">
                <div v-for="movie in poll.movies">
                    <div class="movie-title col">${movie.title}</div>
                    <div class="movie-thumbnail col">${movie.title}</div>
                </div>

            </div>
             <!-- author and date info -->
                <small>
                    Submitted at: ${poll.created_on} by ${poll.name}
                    <br>
                    Last updated: ${poll.updated_on}
                </small>
            <!-- Edit, Delete, Toggle buttons -->
                <div class="button-bar" v-if="poll.user_email == '{{=auth.user.email}}'">
                    <button class="btn btn-default btn-sm"
                        v-on:click="delete_poll(poll.id)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                    <button v-if="!poll.is_public"
                            class="btn btn-default btn-sm"
                            v-on:click="toggle_public(poll.id)">
                            <i class="fa fa-user"></i>
                    </button>
                    <button v-if="poll.is_public"
                            class="btn btn-default btn-sm"
                            v-on:click="toggle_public(poll.id)">
                            <i class="fa fa-users"></i>
                    </button>
                </div>
            </div>
            <!-- Load more button -->
            <button v-if="has_more"
                class="btn btn-primary btn-sm"
                v-on:click="get_more()">
                Load more
            </button>
    </div>
    {{pass}}
</div>


<script src="{{=URL('static', 'js/default_index.js')}}"></script>
