{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var posts_url = "{{=URL('api', 'get_posts')}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
    var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
    var del_post_url = "{{=URL('api', 'del_post', user_signature=True)}}";
    var toggle_public_url = "{{=URL('api', 'toggle_public', user_signature=True)}}";
</script>
{{end}}

<div class="main-content">
    
    <!-- Table of all posts for debugging purposes -->
    <!-- {{=SQLTABLE(posts)}} -->

    <div id="vue-div" class="display:none">

        <a v-bind:href="uberURL">Book an Uber</a>

        <!-- Used example found on old class webpage.  -->
        <!-- https://sites.google.com/a/ucsc.edu/luca/classes/cmps-183-hypermedia-and-the-web/cmps-183-fall-2016/homework-3 -->
        

        <!-- Add post button  -->
        <button v-if="!is_adding_post" 
            class="btn btn-primary btn-lg btn-block"
            v-on:click="add_post_button()" 
            v-bind:class="{'disabled': !logged_in}">
            Add new post
        </button>

        <!-- Form to add post -->
        <div v-if="is_adding_post">
            <div class="form-group">
                <textarea v-model="form_content"
                    class="form-control string" 
                    id="no_table_content" 
                    placeholder="Content" type="text">                        
                </textarea>
            </div>
            <div class="form-group">
                <button v-on:click="add_post()" 
                    class="btn btn-primary btn-sm">
                    Post
                </button>
                <button v-if="is_adding_post" 
                    class="btn btn-warning btn-sm" 
                    v-on:click="add_post_button()">
                    Cancel
                </button>
            </div>
        </div>


        <!-- Posts -->
        <!-- create the div for each post -->
        <div v-for="post in posts" class="post text-left">
            
            <!-- Edit form -->
            <div v-if="editing && edit_id==post.id">
                <!-- Content that is being edited for a post -->
                <div class="form-group">
                    <textarea v-model="edit_content"
                        class="form-control string" 
                        id="no_table_content" 
                        placeholder="Content" type="text">
                    </textarea>
                </div>

                <!-- The post and cancel button for edit form -->
                <div class="form-group">
                    <button v-if="editing" 
                        class="btn btn-primary btn-sm post-edit-button" 
                        v-on:click="edit_post_submit(post.id)" type="submit">
                        Post
                    </button>
                    <button v-if="editing" 
                        class="btn btn-warning btn-sm cancel-button" 
                        v-on:click="cancel_edit()" type="button">
                        Cancel
                    </button>
                </div>
            </div>


            <!-- Post content  -->
            <div v-if="!editing || (editing && edit_id != post.id)">
                <p>${post.content}</p>
            </div>
            <!-- author and date info -->
            <small>
                Submitted at: ${post.created_on} by ${post.name}
                <br>
                Last updated: ${post.updated_on}
            </small>


            <!-- Edit, Delete, Toggle buttons -->
            {{if auth.user:}}
                <div class="button-bar" v-if="post.user_email == '{{=auth.user.email}}'">
                    <button class="btn btn-default btn-sm" 
                        v-on:click="edit_post(post.id)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-default btn-sm" 
                        v-on:click="delete_post(post.id)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                    <button v-if="!post.is_public"
                            class="btn btn-default btn-sm" 
                            v-on:click="toggle_public(post.id)">
                            <i class="fa fa-user"></i>
                    </button>
                    <button v-if="post.is_public"
                            class="btn btn-default btn-sm" 
                            v-on:click="toggle_public(post.id)">
                            <i class="fa fa-users"></i>
                    </button>
                </div>
            {{pass}}
        </div>

        <!-- Load more button -->
        <button v-if="has_more" 
            class="btn btn-primary btn-sm" 
            v-on:click="get_more()">
            Load more
        </button>

    </div>


</div>





<script src="{{=URL('static', 'js/default_index.js')}}"></script>
