{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>

<script>

    var add_movie_url = "{{=URL('api', 'add_movie', user_signature=True)}}";
    var polls_url = "{{=URL('api', 'get_polls')}}";
    var add_poll_url = "{{=URL('api', 'add_poll', user_signature=True)}}";
    var edit_poll_url = "{{=URL('api', 'edit_poll', user_signature=True)}}";
    var del_poll_url = "{{=URL('api', 'del_poll', user_signature=True)}}";
    var toggle_public_url = "{{=URL('api', 'toggle_public', user_signature=True)}}";

</script>
{{end}}

<div class="main-content">

    <div id="vue-div" class="display:none">
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">

        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="search_movies.html"></a>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="jumbotron">
                <h3 class="text-center">Search For Any Movie</h3>
                <form id="searchForm">
                    <input type="text" class="form-control" id="searchText" placeholder="Search Movies...">
                </form>
            </div>
        </div>

        <div class="container">
            <div id="movies" class="row"></div>
        </div>
    </div>
</div>
<script src="{{=URL('static', 'js/search_movies.js')}}"></script>




