
.poll_listing {
  margin: 10px 0px 10px 0px;
  padding: 0 0 0 0px;
}

.poll_list {
  padding-top: 10px;
}

.poll {
  border-color: $clrPostBorder;
  border-style: solid;
  border-width: 1px;
  background: $clrPostBackground;
  margin: 20px 0px 20px 0px;
  padding: 20px;
  @include border-radius(16px);
}

.main-content {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
}

.button-bar {
  padding: 10px 0px;
}
